*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: white;
    --secondary-color: black;
}

.dark-theme{
    --primary-color: black;
    --secondary-color: white;
}

body{
    background-color: var(--secondary-color); /*black*/
    color: var(--secondary-color); /*white*/
}



.header{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    /* background: #ebfffc; */
    background-color: var(--primary-color);
    max-width: 27rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 10px;
}

#icon{
    width: 30px;
    cursor: pointer;
    color: var(--secondary-color);
    /* background-color:var(--primary-color) ; */
}

.card-top{
    display: flex;
    gap: 0.5rem;
    width: 100%;
}

#input-tag{
    padding: 0.3rem;
    background-color: #faddb9;
    border-radius: 7px;
    width: 200%;
}

.search{
    height: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-img-button{
    height: 2rem;
}

.weather{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-mid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.image{
    height: 200px;
    margin-bottom: 2rem;
}

.content_header{
    font-size: 3rem;
}

.content_para{
    font-size: 2rem;
}

.content{
    text-align: center;
}

.card-btm{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.card-btm-left{
    display: flex;
    gap: 1rem;
}

.card-btm-right{
    display: flex;
    gap: 1rem;
}

.humidity_image{
    height: 3rem;
}

.wind_image{
    height: 3rem;
}

.weather_image{
    border-radius: 10px;
     /* mix-blend-mode: screen;   */
}

.weather{
    display: none;
}

.image-btm{
    padding: 0.3rem;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}